name: ink_log
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  shared_preferences: ^2.2.2
  image_picker: ^0.8.7+5  
  flutter_local_notifications: ^17.0.0
  firebase_core: ^2.27.0
  firebase_analytics: ^10.8.0
  path_provider: ^2.0.15   

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
